header, nav, main {
    max-width: 960px;
    margin: auto;
}

// cards 

// cards

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


// testimonials

.testimonials {
    div {
        grid-template-columns: 200px auto;
        column-gap: 8px;
    }
}