/* NAVIGATION BUTTON */

.btnParent {
    background-color: $accentColor;
}

#theBtn {
    border: none;
    background: none;
    font-size: 2rem;
    color: white;
    width: 44px;
    height: 44px;
    cursor: pointer;
    margin: 0.5rem 0;

    &::before {
        content: "\2630";
    }
} // end of button

#theBtn.open::before {
    content: "\2715";
    font-size: 1.6rem;
} // end open button

/* NAVIGATION BAR */

#theNav {
    background-color: $accentColor;
    height: 0;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li a {
        display: block;
        padding: 0.75rem 2vw;
        font-size: 14px;
        color: white;
        text-decoration: none;
        border-top: 1px solid rgba(0,0,0,0.2);
    }

    li.active a {
        background-color: $secondaryColor;
    }

    li a:hover {
        background-color: rgba(0,0,0,0.3);
    }

    &.open {
        height: auto;
    }
}

/* SUB MENUS */

.subParent>a::after {
    content: "\25BC";
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.5);
    float: right;
}

.subParent ul {
    list-style-type: none;
    padding: 0;
    background-color: $primaryColor;
    display: none;
}

.subParent:hover ul {
    display: block;
}